.App {
  text-align: center;
}

.component-wrapper {
  margin: 1rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 5rem;
}

a {
  color: #666;
  font-weight: 700;
  text-decoration: none;
  padding: 0 3rem;
}

.Snacks, .Drinks, .Candy {
  min-height: 100vh;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}